body {
    position: relative;
}

#imageCarousel {
    height: 100vh;
}

#imageCarousel .carousel-inner,
#imageCarousel .carousel-item,
#imageCarousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo-container img {
    max-width: 50vw; /* 50% of the viewport width */
    max-height: 50vh; /* 50% of the viewport height */
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.status-open {
  background-color: green;
  border: 1px solid green;
  cursor: default;
  pointer-events: none;
  color: white;
}

.status-closed {
  background-color: red;
  border: 1px solid red;
  cursor: default;
  pointer-events: none;
  color: white;
}
